#!/usr/bin/env python3

# Written by Thomas York

# Imports
import os

# Setup
basedir = os.path.abspath(os.path.dirname(__file__))


# Flask configuration
class Config(object):
    # Application security key
    ## CHANGE THIS IMMEDIATELY!
    SECRET_KEY = 'please-change-me'

    # SQLite DB location
    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or 'sqlite:///' + os.path.join(basedir, '..', 'db',
                                                                                            'auth.sqlite3')
    SQLALCHEMY_TRACK_MODIFICATIONS = False

    # Video window type
    ## Valid options are mjpeg or video
    VIDEO_TYPE = 'mjpeg'

    # URL for video source
    VIDEO_URL = ''

    # Enable UPS (NUT) support
    enable_nut = 'yes'
    nut_ups_name = '850va'

    # Enable OpenHAB support
    enable_openhab = 'yes'

    # Enable running shell command for camera capture control
    enable_camera_control = 'yes'
    camera_command = "ffmpeg -nostdin -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=44100 -f video4linux2 -video_size 1024x768 -input_format mjpeg -i /dev/video0 -c:v libx264 -an -g 1 -shortest -preset ultrafast -tune zerolatency -pix_fmt yuv420p -f flv rtmp://someserver"