{% block body %}
{% if session['logged_in'] %}
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=/">
        <script type="text/javascript">
            window.location.href = "/"
        </script>
        <title>FlaMoS - Loginn</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href='/'>link</a>.
    </body>
</html>
{% else %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>FlaMoS - Login</title>
    <meta name="description" content="Login page">
    <meta name="author" content="Thomas York">

    <link rel="stylesheet" href="static/css/login.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<script src="static/js/login.js"></script>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/login" method="POST">
            <input type="username" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
        </form>
    </div>
</div>
</body>
</html>
{% endif %}
{% endblock %}
